
@font-face {
    font-family: 'SC_lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SC_rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SC_md';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 15px;
    color: #333;
    font-family: 'SC_lt';
    line-height: 2.0;
}

header{background: #e7edff;  padding: 50px 0; text-align: center; } 
header h2{ display: inline-block;  font-size: 25px; padding: 20px 28px; border-top: 1px solid #222; border-bottom: 1px solid #222;  margin-bottom: 50px;}
header img{display: block; margin: 0 auto; margin-bottom: -130px;}


section{padding: 50px;}
section .titbox{text-align: center;}
section h3{font-size: 22px; display: inline-block; width: 250px; padding: 15px 0;        border: 1px solid #000;margin-bottom: 30px; }
section p.title{font-size: 18px; font-family: 'SC_md';}
section .listbox{padding-left:35px;}
section .textbox{margin-top: 10px;}

section.intro{padding-top: 150px; background: #fceeff;}

section.writer{background: #fff4f4;;}
section.writer .title {margin-top: 20px;}
section .fcb {color: #1845a8; font-family: 'SC_md'; font-size: 14px;}

/*section.index{background: #fff4f4;}*/
section.index{background: #f0f8ff; text-align: center;}
section.index .bvgbox{border: 1px solid #000; width: 320px; display: inline-block; margin:20px 15px 0 0 ; text-align: left; padding: 20px  0 20px 20px ;}
section.index .bvgbox:nth-child(4){margin-right: 0;}
section.index .bvgbox:last-child{margin-right: 0;}
section.index .bvgbox p{width: 50px; margin-bottom: 10px;}
section.index .bvgbox h4{font-size: 17px;}
section.index .bvgbox p img{width: 100%;}
section.index .listbox{padding-left:35px;}

section.extract{background: #f4fff6;}
section.extract span{font-size: 14px;display: block; }
section.extract .imgbox{text-align: center; margin-top: 20px;}
section.extract .imgbox span{width: 15%; display: inline-block; margin-right: 10px;}
section.extract .imgbox span img{width: 100%; border: 1px solid #fff}
section.extract .goto{font-size: 20px; font-family: 'SC_md'; margin-top: 50px; text-align: center;}
section.extract .goto a{text-decoration: none; padding: 20px 80px; width: 100%; background: #16d4b0; color: #fff;}
footer{background: #ebebeb; text-align: center; padding: 40px 0; color: #a2a2a2;}















