@font-face { font-family: 'SC_lt'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SC_rg'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SC_md'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; text-decoration: none; }

body { max-width: 1200px; margin: 0 auto; font-size: 15px; color: #333; font-family: 'SC_lt'; line-height: 2.0; }

header h2 { font-size: 45px; font-family: SC_md; text-align: center; padding: 30px 0; color: #33b8b1; }
header h3 { font-size: 30px; font-family: SC_md; text-align: center; padding: 20px 0 30px; }
header .introbox { padding: 20px; font-size: 18px; }

section .cha-txt { font-size: 20px; width: 50%; padding: 20px 20px 220px; background: #f5f5f5; box-sizing: border-box; }
section .cha-txt h3 { font-size: 24px; font-family:SC_md; color: #000; display: block; }

section .cha-txt p { font-size: 16px; font-family: SC_rg; margin-top: 10px; }
section.cha1 { display: flex; flex-flow: row wrap; box-sizing: border-box; align-items: stretch; }
section.cha1 .cha-txt a {text-align:center; display: inline-block; margin-top: 30px; text-decoration: none; padding: 10px 50px 10px 15px; color: #d87cc4; font-family:SC_lt; font-size: 16px; border: 1px solid #d87cc4; text-align: center; background: url("./img/arrow1.png") no-repeat 90% 45% / 30px ; }
section.cha1 .cha-txt a:hover { color : #fff;  
    background: url("../img/arrow2.png") no-repeat 90% 45% / 30px #e250c2; border: 1px solid #e250c2;}
section.cha1 .cha-txt h3 { color: #e250c2; }
section.cha1 .cha-img { width: 50%; background: url("./img/cha-1.jpg") no-repeat; background-size: cover}

section.cha2 { display: flex; flex-flow: row wrap; box-sizing: border-box; align-items: stretch; }
section.cha2 .cha-img { width: 50%; background: url("./img/cha-2.jpg") no-repeat; background-size: cover}
section.cha2 .cha-txt h3 { color: #5066e2; }
section.cha2 .cha-txt a {text-align:center; display: inline-block; margin-top: 30px; text-decoration: none; padding: 10px 50px 10px 15px; color: #5066e2; font-family:SC_lt; font-size: 16px; border: 1px solid #5066e2; text-align: center; background: url("./img/arrow3.png") no-repeat 90% 45% / 30px ; }
section.cha2 .cha-txt a:hover { color : #fff;  
    background: url("../img/arrow2.png") no-repeat 90% 45% / 30px #5066e2; border: 1px solid #5066e2;}




footer { background: #e3fcff; text-align: center; padding: 40px 0; color: #a2a2a2; }
section.cha-all { padding: 35px 22px; background: #e7efff; display: flex; flex-flow: row wrap; justify-content: space-around; }

section.cha-all .cha-box { width: 30%; box-sizing: border-box; font-size: 0; background: #fff; text-align: center; }
section.cha-all .cha-box:last-child { margin-right: 0; }
section.cha-all .cha-txt { width: 100%; background: #fff; padding: 20px; margin-top: 10px; font-size: 0; }
section .cha-txt a { font-size: 20px; font-family: SC_md; color: #000; display: block; }
section .cha-txt a:hover { color: #d1ae61;}
section.cha-all .cha-txt span { width: 50px; height: 3px; background: #000; display: inline-block; }
section .cha-txt a:hover~span { background: #d1ae61; }
section.cha-all .cha-img { width: 250px; height: 250px; margin: auto; padding: 20px; }
section.cha-all .cha-img img { width: 250px; height: 250px; object-fit: none; border-radius: 50%; }
section.cha-all .cha-img img.ch2 { object-fit: cover !important; }
section.cha-all .cha-txt p { text-align: left; margin-top: 30px; width: 100%; }
